form.tgForms label {
  width: 100%;
}

form.tgForms span.label {
  color: black;
  font-size: 14px;
  padding-left: 0;
}

form.tgForms span.resource {
  padding-right: 8px;
}

form.tgForms span.repeat,
form.tgForms span.delete {
  color: #428bca;
  cursor: pointer;
  font-weight: normal;
}

form.tgForms div.tgforms\:button div,
form.tgForms div.tgforms\:checkbox input,
form.tgForms div.tgforms\:dropdown div {
  float: right;
}
